<html>
  <head><title>{{pagedoc.title}}</title></head>
  <body>
    <div id="pageRendered">pagedoc.rendered</div>
    <div id="index">
      {{#index}}
      <div class="indexCell"><a href="{{titlepath}}">{{titlestring}}</a></div>
      {{/index}}
    </div>
  </body>
</html>